/* pageActions.st.css */
@namespace "PageActions";
@st-import Button from "@actionishope/shelley/Button/button.st.css";
@st-import ButtonGroup from "@actionishope/shelley/ButtonGroup/buttonGroup.st.css";
@st-import Menu from "@actionishope/shelley/Menu/menu.st.css";

.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 4px;
  padding: 14px 24px 24px 8px;
}

.info {}

.lastSaved {}

.actions {}

.statusText {}

.reviewButton {
  -st-extends: Button;
}

.menuTrigger {
  -st-extends: Button;
}

.menu {
  -st-extends: Menu;
}

.buttonGroup {
  -st-extends: ButtonGroup;
  width: 100%;
}

/* @todo: Move to StatusIndicator comp */
.led {
  margin: -2px 8px 0 0;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}

.archived {
  background-color: #f05751;
  border: 1px solid #d9453f;
}

.draft {
  background-color: #fba012;
  border: 1px solid #db8500;
}

.unpublished {
  background-color: #fba012;
  border: 1px solid #db8500;
}

.published {
  background-color: #14d997;
  border: 1px solid #0eb87f;
}

.updated {
  background-color: #15c8e8;
  border: 1px solid #75eaff;
}

/* 
@todo: Potentially add animation to the publlish button.
.reviewButton {
  -st-extends: Button;
  background-color: #222;
  animation-name: color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #16a78e;
  }

  50% {
    background-color: #448688;
  }

  100% {
    background-color: #16a78e;
  }
} */
