/* pageActions.st.css */
@st-namespace "PageActions";
@st-import Button from "@actionishope/shelley/Button/button.st.css";
@st-import ButtonGroup from "@actionishope/shelley/Button/buttonGroup.st.css";
@st-import Menu from "@actionishope/shelley/Menu/menu.st.css";

.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 4px;
  padding: 14px 24px 24px 8px;
}

.info {}

.lastSaved {}

.actions {}

.statusText {}

.reviewButton {
  -st-extends: Button;
}

.loader {}

.menuTrigger {
  -st-extends: Button;
}

.menu {
  -st-extends: Menu;
}

.buttonGroup {
  -st-extends: ButtonGroup;
  width: 100%;
}

.statusIndicator {
  margin: -2px 8px 0 0;
}

.loader {
  position: absolute;
  right: 10px;
}
