@namespace "MediaField";
@st-import Button from "@actionishope/shelley/Button/button.st.css";
@st-import [pseudoFocus, pseudoFocusVisible] from "@actionishope/shelley/styles/default/mixins/focus.st.css";

.root {
  -st-states: type(enum(icon, video, image, document));
  margin: 20px 0;
}

.label {}

.mediaPreview {
  display: grid;
  grid-template-areas:
    'preview alt'
    'preview caption'
    'preview copyright';
  grid-template-columns: 4fr 6fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 0;
}

.media {
  grid-area: preview;
  display: flex;
}

.root:type(image)::media {}

.media > img,
.media > video {
  max-width: 100%;
  margin: auto;
  max-height: 200px;
}

.editControls {
  grid-area: preview;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 110px;
  cursor: pointer;
  position: relative;
  outline: none;
  align-items: center;
}

.editControls::after {
  -st-mixin: pseudoFocus;
  border-radius: 4px;
}

.editControls:focus-visible::after {
  -st-mixin: pseudoFocusVisible;
}

.editControls:focus-within {
  cursor: default;
}

.button {
  -st-extends: Button;
}

.button:variant(fab) {
  transition: transform 0.25s;
  transition: transform 0.2s, opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease !important;
  transform: scale(0);
  z-index: 10;
}

.editControls:focus-within .button {
  transform: scale(1);
}

.altArea {
  grid-area: alt;
  height: fit-content;
}

.captionArea {
  grid-area: caption;
  height: fit-content;
}

.copyrightArea {
  grid-area: copyright;
  height: fit-content;
}
