@namespace "BadgeCMS";
@st-import CMS, [
  --color-ui,
  --color-ui-inverse
] from "./project.st.css";

@st-import Badge from "../../components/Badge/badge.st.css";

@st-scope CMS {
  Badge::badge {
    background-color: var(--color-ui);
    color: var(--color-ui-inverse);
  }
}
