@st-namespace "BlockEditorCMS";
@st-import CMS, [
  --spacing-unit,
  --color-text-2,
  --color-background-main,
  --color-background-2,
  --color-background-3,
  --color-background-4,
  --grad-1,
  --color-border-1,
  --color-border-dialog,
  --field-padding
] from "./project.st.css";

@st-import BlockEditor, [menu] from "../../components/BlockEditor/blockEditor.st.css";
@st-import SlateArea from "../../components/SlateArea/slateArea.st.css";
@st-import MediaField from "../../components/MediaField/mediaField.st.css";
@st-import TextField from "@actionishope/shelley/TextField/textField.st.css";
@st-import Text from "@actionishope/shelley/Text/text.st.css";
@st-import Button from "@actionishope/shelley/Button/button.st.css";
@st-import Field from "@actionishope/shelley/Field/field.st.css";
@st-import Switch from "@actionishope/shelley/Switch/switch.st.css";
@st-import CheckboxGroup from "@actionishope/shelley/CheckboxGroup/checkboxGroup.st.css";
@st-import Checkbox from "@actionishope/shelley/Checkbox/checkbox.st.css";
@st-import ProgressCircle, [ --loader-circle-medium-height, --loader-circle-medium-width] from "@actionishope/shelley/ProgressCircle/progressCircle.st.css";
@st-import ReorderItems from "../../components/ReorderItems/reorderItems.st.css";
@st-import [ ctaContainer ] from "./field.st.css";
@st-import [--dialog-padding-x, --dialog-padding-y] from "@actionishope/shelley/styles/default/dialog.st.css";
@st-import Chip, [container as chipContainer] from "../../components/Chip/chip.st.css";

@st-scope CMS {

  BlockEditor {
    width: 100%;
    display: grid;
    grid-template-areas: "stack";
    transition: filter 80ms ease-in-out, opacity 80ms ease-in-out;
    /*  */
    position: relative;
  }

  BlockEditor ProgressCircle:size(medium) {
    margin-top: 20px;
    margin-left: calc(var(--spacing-unit) * 3.2);
    --loader-circle-medium-height: 40px;
    --loader-circle-medium-width: 40px;
  }

  BlockEditor::options {
    grid-area: stack;
    justify-self: right;
    position: sticky;
    top: 80px;
    z-index: 10;
    margin: 16px 30px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  /* Menu loads in a portal so needs to be accessed directly. */
  .menu {
    min-width: 120px;
  }

  /* Main content - the main editing items. */
  BlockEditor::mainContent {
    z-index: 0;
    position: relative;
    grid-area: stack;
    padding: 0.8rem 0 1.3rem;
    border-bottom: 12px solid var(--color-background-3);
    background-color: var(--color-background-main);
  }

  BlockEditor::mainContent > form {
    padding-right: 80px;
    padding-left: 0;
  }

  BlockEditor::mainContent > form .ctaContainer {
    margin-left: calc(var(--spacing-unit) * 3.2);
  }

  BlockEditor::mainContent > form > TextField:variant(quiet)::fieldInput,
  BlockEditor::mainContent > form > SlateArea {
    padding-left: calc(var(--spacing-unit) * 3.2);
    -webkit-font-smoothing: antialiased;
  }

  BlockEditor::mainContent > form > Field:variant(outlined) {
    margin: calc(var(--spacing-unit) * 1.5) 0 calc(var(--spacing-unit) * 1.5);
    margin-left: calc(var(--spacing-unit) * 3.2);
    max-width: 89.5%;
  }

  BlockEditor::mainContent > form > MediaField {
    margin: calc(var(--spacing-unit) * 1.3) 0 calc(var(--spacing-unit) / 2);
    padding-left: calc(var(--spacing-unit) * 3.2);
  }

  BlockEditor::mainContent > form > Text {
    margin: calc(var(--spacing-unit) / 2) 0;
    padding-left: calc(var(--spacing-unit) * 3.2);
  }

  BlockEditor::mainContent > Button {
    margin-top: calc(var(--spacing-unit) * 2);
    margin-left: calc(var(--spacing-unit) * 3.2)
  }

  BlockEditor::mainContent > form > .chipContainer {
    margin-left: calc(var(--spacing-unit) * 3.2);
    margin-bottom: calc(var(--spacing-unit) * 2);
  }

  /* ReorderItems - Overrides*/

  BlockEditor::mainContent ReorderItems {
    background-color: var(--color-background-2);
    margin-top: calc(var(--spacing-unit) * 2);
  }

  BlockEditor::mainContent ReorderItems::dragContainer {
    padding-bottom: calc(var(--spacing-unit) * 4);
    margin-top: calc(var(--spacing-unit));
    margin-left: calc(var(--spacing-unit) * .5);
    padding-left: 56px;
  }

  BlockEditor::mainContent ReorderItems + Button {
    margin-top: 0;
  }

  BlockEditor::mainContent ReorderItems {
    margin-bottom: calc(var(--spacing-unit) * -4);
  }

  BlockEditor::mainContent ReorderItems::dragContainer:isDragging {
    background-color: #83838312;
  }

  BlockEditor::mainContent ReorderItems::item {
    background-color: var(--color-background-3);
    background-color: var(--color-background-4);
    /* Limit width of items to shorten reading width. */
    max-width: 90%;
  }


  BlockEditor::label {
    padding-left: calc(var(--spacing-unit) * 2);
    margin-bottom: var(--spacing-unit);
    color: var(--color-text-2);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 400;
  }

  BlockEditor::warningMessage {
    color: #e5990d;
  }

  BlockEditor::modal {
    grid-area: stack;
    z-index: 15;
  }

  BlockEditor::modal::backdrop {
    border-style: solid;
    border-width: 1px 0;
    border-color: var(--color-border-dialog);
  }

  BlockEditor::modal::content {
    position: relative;
    margin: 60px 8px 60px 8px;
    padding-bottom: 1px;
    /* Kicks in the inclusion of margin-bottom of the last item in the container. */
    max-height: 85vh;
    align-self: flex-start;
  }

  BlockEditor::settingsTitle {
    margin: 0 0 12px;
    padding: 12px 24px 12px;
    border-bottom: 1px dashed var(--color-border-dialog);
  }

  /* Settings Dialog */
  BlockEditor::dialog {
    --dialog-padding-x: var(--spacing-unit);
    --dialog-padding-y: var(--spacing-unit);
    border: 1px solid var(--color-border-dialog);
  }

  BlockEditor::dialog::content {
    margin-top: 0;
  }

  BlockEditor::dialog::content Text {
    margin-bottom: var(--spacing-unit);
  }

  BlockEditor::dialog::content form {
    padding-top: var(--spacing-unit);
  }

  BlockEditor::dialog::content Field:not(:last-child) {
    margin-bottom: calc(var(--spacing-unit) * 1.5);
  }

  BlockEditor::dialog::content Switch,
  BlockEditor::dialog::content Checkbox {}

  CheckboxGroup Switch {
    font-size: .95em;
    padding: calc(var(--spacing-unit) * 0.2) 6px;
  }
}
