@st-namespace "ButtonCMS";


:import {
  -st-from: "./project.st.css";
  -st-default: CMS;
  -st-named:
    --color-ui,
    --color-ui-inverse,
    --color-background-3;
}

:import {
  -st-from: "@actionishope/shelley/Button/button.st.css";
  -st-default: Button;
}

:import {
  -st-from: "@actionishope/shelley/Button/iconButton.st.css";
  -st-default: IconButton;
}

:import {
  -st-from: "@actionishope/shelley/styles/button.st.css";
  -st-named: --tone;
}

@st-scope CMS {

  Button {
    justify-content: center;
  }

  Button:not(IconButton) {
    /* border-radius: 0; */
  }


  IconButton:fab {
    box-shadow: none;
  }

  /* Button:tone(5) {
    --accent: var(--color-background-2);
  } */


  IconButton:tone(contrast) {
    color: inherit;
    --tone: var(--color-background-3);
  }

  IconButton:tone(contrast):variant(primary) {
    color: var(--color-ui)
  }

  IconButton:tone(contrast) svg {
    opacity: 0.7;
  }

  IconButton:tone(contrast):not(Button:isDisabled):hover::before {
    opacity: 0.1;
  }
}
