@namespace "ChipCMS";
@st-import CMS, [
  --color-background-3,
  --color-form-base-border,
  --spacing-unit
] from "./project.st.css";

@st-import Chip, [container] from "../../components/Chip/chip.st.css";

@st-scope CMS {
  Chip {
    background-color: var(--color-background-3);
  }

  Chip:vol(1) {
    line-height: 1;
  }

  Chip:variant(outlined) {
    border: 1px solid var(--color-form-base-border);
  }

  Chip::removeButton {
    border-width: 0;
  }

  Chip:hasRemove {
    padding-left: var(--spacing-unit);
  }

  .container {
    gap: calc(var(--spacing-unit) * .5);
  }
}
