@namespace "ComboBoxMultiSelectItemCMS";

@st-import CMS, [
    --color-menu-selected-background,
    --color-menu-selected-text
  ] from "./project.st.css";
@st-import ComboBoxMultiSelectItem from "@actionishope/shelley/ComboBoxMultiSelect/comboBoxMultiSelectItem.st.css";

@st-scope CMS {
  ComboBoxMultiSelectItem:isFocused {
    background-color: var(--color-menu-selected-background);
    color: var(--color-menu-selected-text);
  }
}
