@st-namespace "ComboBoxMultiSelectItemCMS";

@st-import CMS, [
    --color-background-listBox-option-hover
  ] from "./project.st.css";
@st-import ComboBoxMultiSelectItem from "@actionishope/shelley/ComboBoxMultiSelect/comboBoxMultiSelectItem.st.css";

@st-scope CMS {
  ComboBoxMultiSelectItem:isFocused {
    background-color: var(--color-background-listBox-option-hover);
    cursor: pointer;
  }
}
