@st-namespace "ContentActionsCMS";
@st-import CMS, [
  --spacing-unit,
  --grad-2,
  --color-background-2,
  --color-background-3,
  --color-background-contrast-1,
  breakpoint-sm,
  breakpoint-md,
  breakpoint-lg
] from "./project.st.css";
@st-import ContentActions, [
  halfScreenModal,
  dialog,
  tabs,
  cardGrid,
  addMultipleCheckbox,
  reorderItems
] from "../../components/ContentActions/contentActions.st.css";
@st-import [--dialog-padding-x, --dialog-padding-y] from "@actionishope/shelley/styles/dialog.st.css";
@st-import Button from "@actionishope/shelley/Button/button.st.css";

@st-import ReorderItems from "../../components/ReorderItems/reorderItems.st.css";

@st-scope CMS {

  ContentActions {
    position: sticky;
    bottom: 1px;
    background: var(--grad-2);
    z-index: 100;
    height: 69px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 0px 0 28px;
  }

  ContentActions::addBlockButton {
    padding-left: 8%;
    padding-right: 8%;
    background-color: var(--color-background-3);
  }

  .dialog {
    --dialog-padding-x: 0;
    --dialog-padding-y: 0
  }

  .dialog::content {
    margin: 0;
    overflow: hidden;
  }

  .tabs {
    margin-top: calc(var(--spacing-unit) * .5)
  }

  .tabs::tabPanel {
    padding: 0;
  }

  .tabs::tabListContainer {
    margin: 0 var(--spacing-unit);
  }

  .dialog::buttonGroup {
    margin: var(--spacing-unit);
  }

  .addMultipleCheckbox {
    position: absolute;
    bottom: var(--spacing-unit);
    right: var(--spacing-unit);
  }

  .cardGrid {
    display: grid;
    padding: var(--spacing-unit);
    gap: var(--spacing-unit);
    grid-template-columns: 1fr 1fr;
    height: calc(70vh - 55px - 77px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    padding-bottom: 0;
    place-content: baseline;
  }

  .dialog .reorderItems {
    height: calc(70vh - 130px);
    overflow: hidden scroll;
  }

  .dialog .reorderItems::content {
    padding-top: 0
  }


  .dialog .reorderItems::dragContainer {
    margin-top: var(--spacing-unit);
    padding: var(--spacing-unit);
  }

  .dialog .reorderItems::dragContainer:isDragging {
    background-color: #83838312;
  }

  .dialog .reorderItems::item {
    background-color: var(--color-background-contrast-1);
    margin-bottom: calc(var(--spacing-unit) * 1);
  }
}

@media value(breakpoint-lg) {
  @st-scope CMS {
    .cardGrid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media only screen and (min-width: 700px) {
  @st-scope CMS {

    .addMultipleCheckbox {
      right: auto;
      left: var(--spacing-unit);
    }
  }
}

@media value(breakpoint-md) {
  @st-scope CMS {


    .halfScreenModal {
      width: 55vw;
    }

    .halfScreenModal:focusMode {
      width: 100vw;
    }

    .halfScreenModal [role=dialog] {
      width: 50vw;
      height: 70vh;
    }
  }
}
