@st-import CMS, [
  --spacing-unit,
  --grad-2,
  breakpoint-md,
  breakpoint-lg
] from "./project.st.css";
@st-import ContentActions, [
  halfScreenModal,
  dialog,
  tabs,
  cardGrid,
  addMultipleCheckbox
] from "../../components/ContentActions/contentActions.st.css";
@st-import [--dialog-padding-x, --dialog-padding-y] from "@actionishope/shelley/Dialog/dialog.st.css";
@st-import Button from "@actionishope/shelley/Button/button.st.css";

@st-scope CMS {

  ContentActions {
    position: sticky;
    bottom: 1px;
    background: var(--grad-2);
    z-index: 100;
    height: 69px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 0px 0 28px;
  }

  ContentActions::addBlockButton {
    padding-left: 8%;
    padding-right: 8%;
  }

  .dialog {
    --dialog-padding-x: 0;
    --dialog-padding-y: 0
  }

  .dialog::content {
    margin: 0;
    overflow: hidden;
  }

  .tabs {
    margin-top: calc(var(--spacing-unit) * .5)
  }

  .tabs::tabPanel {
    padding: 0;
  }

  .tabs::tabListContainer {
    margin: 0 var(--spacing-unit);
  }

  .dialog::buttonGroup {
    margin: var(--spacing-unit);
  }

  .addMultipleCheckbox {
    position: absolute;
    bottom: var(--spacing-unit);
    left: var(--spacing-unit);
  }

  .cardGrid {
    display: grid;
    padding: var(--spacing-unit);
    gap: var(--spacing-unit);
    grid-template-columns: 1fr 1fr;
    height: calc(70vh - 55px - 77px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    padding-bottom: 0;
    place-content: baseline;
  }
}

@media value(breakpoint-lg) {
  @st-scope CMS {
    .cardGrid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media value(breakpoint-md) {
  @st-scope CMS {
    .halfScreenModal {
      width: 55vw;
    }

    .halfScreenModal [role='dialog'] {
      width: 50vw;
      height: 70vh;
    }
  }
}
