@namespace "DialogCMS";
@st-import CMS, [
    --color-border-dialog,
    --background-color-modal-backdrop,
] from "./project.st.css";

@st-import Dialog from "@actionishope/shelley/Dialog/dialog.st.css";

@st-scope CMS {

  Dialog {
    border-radius: 0;
    /* @TODO apply this fix for intermittant greying of the overlay to shelley. */
    position: relative;
  }
}
