/* = Project scope and vars. */
@st-import CMS, [
  --color-ui,
  --color-ui-inverse,
  --color-accent-1,
  --color-accent-1-50,
  --spacing-unit,
  --height-header-sm,
  --height-header-md,
  --color-background-contrast-1,
  breakpoint-md,
  breakpoint-sm,
  breakpoint-lg,
  breakpoint-xl,
  breakpoint-xxl
] from "./project.st.css";
@property st-global(--vh);

/* = Root Component */
@st-import Finder, [sidebarModal] from "../../components/Finder/finder.st.css";

@st-import Card from "../../components/Card/card.st.css";
@st-import RadioGroup from "@actionishope/shelley/RadioGroup/radioGroup.st.css";

@st-scope CMS {

  Finder {
    --height-header: var(--height-header-sm);
    --finder-padding: calc(var(--spacing-unit) * 1.5);
    height: calc(var(--vh, 1vh) * 100 - var(--height-header));
    display: grid;
    grid-template-rows: var(--height-header) 1fr;
    grid-template-columns: 1fr;
  }

  Finder:hasSidebar {
    grid-template-columns: 300px 1fr;
  }

  Finder:disableActionBar {
    grid-template-rows: auto;
  }

  Finder:isMobile {
    /* Wipeout the grid for isMobile */
    grid-template-columns: 1fr;
  }

  Finder::actionBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / span 2;
    padding-left: var(--spacing-unit);
    padding-right: var(--spacing-unit);
    background-color: var(--color-background-contrast-1);
    border-bottom: 2px solid var(--color-accent-1-50);
  }

  Finder::actionButton {
    justify-self: end;
  }

  Finder::title {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) / 2);
  }

  Finder::title svg {
    font-size: 1.2em;
    color: var(--color-accent-1)
  }

  Finder::sidebar {
    background-color: var(--color-background-contrast-1)
  }

  Finder::sidebar RadioGroup {
    padding: 0 var(--spacing-unit);
    gap: 6px;
    margin-bottom: calc(var(--spacing-unit) * 2)
  }

  Finder::sidebar RadioGroup:first-child {
    margin-top: calc(var(--spacing-unit) * 2 + 6px)
  }



  Finder::main {
    padding: var(--finder-padding);
  }

  Finder::searchBar {
    display: flex;
    margin-bottom: var(--finder-padding);
  }

  Finder::searchField {
    flex-grow: 1;
  }

  Finder::searchField::fieldset,
  Finder::searchField::fieldContainer {
    border-radius: 999px;
  }

  Finder::searchField::fieldContainer {
    align-items: center;
  }

  Finder::searchField::fieldContainer > svg {
    font-size: 1.2em;
    position: relative;
    left: .5em
  }

  /* Modal is in a portal so targeting directly. */
  .sidebarModal:transition(startToEnd) {
    align-items: end;
  }

  .sidebarModal:transition(startToEnd)::content {
    height: calc(var(--vh, 1vh) * 100 - var(--height-header-sm));
  }

  Card::content {
    margin-top: auto
  }

}

@media value(breakpoint-md) {
  @st-scope CMS {
    Finder {
      --height-header: var(--height-header-md);
      /* --finder-padding: calc(var(--spacing-unit) * 2); */
    }
  }
}

/* Media Grid */
@st-scope CMS {
  .mediaGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--finder-padding);
  }
}

@media value(breakpoint-sm) {
  @st-scope CMS {
    .mediaGrid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

/* Jump back to two as mobile side bar is visible @ 700px. */
@media (min-width:700px) and (max-width:900px) {
  @st-scope CMS {
    .mediaGrid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media value(breakpoint-lg) {
  @st-scope CMS {
    .mediaGrid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media value(breakpoint-xl) {
  @st-scope CMS {
    .mediaGrid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

@media value(breakpoint-xxl) {
  @st-scope CMS {
    .mediaGrid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
