/* = Project scope and vars. */
@st-import CMS, [
  --color-ui,
  --color-ui-inverse,
  --color-accent-1,
  --spacing-unit,
  --height-header-sm,
  --height-header-md,
  --color-background-contrast-1,
  breakpoint-md
] from "./project.st.css";
@property st-global(--vh);

/* = Root Component */
@st-import Finder, [sideBarModal, halfScreenModal] from "../../components/Finder/finder.st.css";

@st-scope CMS {

  Finder {
    --height-header: var(--height-header-sm);
    height: calc(var(--vh, 1vh) * 100 - var(--height-header));
    display: grid;
    grid-template-rows: var(--height-header) 1fr;
    grid-template-columns: 300px 1fr;
  }

  Finder:isMobile {
    /* Wipeout the grid for isMobile */
    grid-template-columns: 1fr;
  }

  Finder::actionBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / span 2;
    padding-left: var(--spacing-unit);
    padding-right: var(--spacing-unit);
    background-color: var(--color-background-contrast-1);
  }

  Finder::actionButton {
    justify-self: end;
  }

  Finder::title {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) / 2);
  }

  Finder::title svg {
    font-size: 1.2em;
    color: var(--color-accent-1)
  }

  Finder::sideBar {
    background-color: var(--color-background-contrast-1)
  }

  Finder::main {
    padding: var(--spacing-unit)
  }

  Finder::searchBar {
    display: flex;
  }

  Finder::searchField {
    flex-grow: 1;
  }

  Finder::searchField::fieldset,
  Finder::searchField::fieldContainer {
    border-radius: 999px;
  }

  Finder::searchField::startAdornment {
    font-size: 1.2em;
  }

  /* Modal is in a portal so targeting directly. */
  .sideBarModal:transition(startToEnd) {
    align-items: end;
  }

  .sideBarModal:transition(startToEnd)::content {
    height: calc(var(--vh, 1vh) * 100 - var(--height-header-sm));
  }

}

@media value(breakpoint-md) {
  @st-scope CMS {
    Finder {
      --height-header: var(--height-header-md);
    }

    .halfScreenModal {
      width: 55vw;
    }

    .halfScreenModal [role='dialog'] {
      width: 50vw;
      max-height: 70vh;
    }
  }
}
