@namespace "SlateHoverMenuCMS";
@st-import CMS, [
  --color-focus,
  --color-background-slate-menu
] from "./project.st.css";

@st-import SlateMenu from "../../components/SlateArea/components/menus/HoverMenu/hoverMenu.st.css";

@st-scope CMS {
  SlateMenu {
    padding: 12px 20px;
    gap: 20px;
    border-radius: 999px;
    background-color: var(--color-background-slate-menu);
    border: 2px solid var(--color-focus);
    z-index: 50;
  }

  SlateMenu::button[data-active='true'] {
    color: #00ffb7
  }

}
