/**
 * = LABEL - label.st.css
 * 
 * ========================================================================= */

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: CMS;
  -st-named:
    --color-text-2;
}

/* = Root Component */
:import {
  -st-from: "@actionishope/shelley/Label/label.st.css";
  -st-default: Label;
}


@st-scope CMS {

  Label::text {
    color: var(--color-text-2);
  }

}
