@st-namespace "ListBoxOptionCMS";
@st-import CMS, [
  --color-background-listBox-option-hover,
  --color-focus
] from "./project.st.css";

@st-import ListBoxOption from "@actionishope/shelley/ListBox/listBoxOption.st.css";

@st-scope CMS {

  ListBoxOption:isSelected,
  ListBoxOption:hover {
    border-color: var(--color-focus)
  }

  ListBoxOption:hover,
  ListBoxOption:isFocusVisible {
    background-color: var(--color-background-listBox-option-hover);
    cursor: pointer;
  }
}
