@namespace "MediaFieldCMS";
@st-import CMS, [
  --color-ui,
  --color-ui-inverse,
  --spacing-unit,
  breakpoint-sm,
  breakpoint-md,
  breakpoint-lg
] from "./project.st.css";

@st-import BlockEditor, [menu] from "../../components/BlockEditor/blockEditor.st.css";
@st-import MediaField from "../../components/MediaField/mediaField.st.css";

@st-import Modal, [
  enter,
  enterActive,
  enterDone,
  exit,
  exitActive,
  exitDone,
  content,
  backdrop blurBackground
] from "@actionishope/shelley/Modal/modal.st.css";

@st-scope CMS {

  MediaField {
    margin: calc(var(--spacing-unit) * 1)
  }

  MediaField::grid {
    margin-left: calc(var(--spacing-unit) * -0.7)
  }

  MediaField:hasPreview::grid {
    margin-left: 0;
    grid-gap: var(--spacing-unit);
  }

  MediaField::grid {
    grid-column-gap: calc(var(--spacing-unit) * 1);
  }

  MediaField::orText {
    font-style: italic;
    align-self: center;
    justify-self: end;
  }

  MediaField:hasPreview::grid {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0;
    grid-template-areas:
      'preview'
      'alt'
      'caption'
      'copyright';
  }
}

@media value(breakpoint-sm) {
  @st-scope CMS {
    MediaField:hasPreview::grid {
      grid-template-areas:
        'preview alt'
        'preview caption'
        'preview copyright';
      grid-column-gap: calc(var(--spacing-unit) *2);
      grid-row-gap: calc(var(--spacing-unit) *2);
      grid-template-columns: 200px 1fr;
    }
  }
}
