@st-namespace "MenuCMS";

:import {
  -st-from: "@actionishope/shelley/styles/project.st.css";
  -st-named:
    --spacing-unit,
}

:import {
  -st-from: "./project.st.css";
  -st-default: CMS;
  -st-named:
    --color-background-main,
    --color-menu-selected-background,
    --color-menu-selected-text;
}

:import {
  -st-from: "@actionishope/shelley/Menu/menuItem.st.css";
  -st-default: MenuItem;
}

@st-scope CMS {

  MenuPopup {
    background: var(--color-background-main);
  }

  MenuItem:isFocused {
    background: var(--color-menu-selected-background);
    color: var(--color-menu-selected-text);
  }
}
