/* = Project scope and vars. */
@st-import CMS, [
  --spacing-unit,
  --google-background,
  --google-title,
  --google-desc,
  --google-url,
  --google-font,
  --twitter-background,
  --twitter-listing-background,
  --twitter-border,
  --twitter-title,
  --twitter-desc,
  --twitter-domain,
  --twitter-font,
  --facebook-background,
  --facebook-listing-background,
  --facebook-border,
  --facebook-title,
  --facebook-desc,
  --facebook-domain,
  --facebook-font
] from "./project.st.css";
/* = Root Component */
@st-import PreviewMetaData from "../../components/PreviewMetaData/previewMetaData.st.css";

@st-scope CMS {

  PreviewMetaData {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 100px;
    bottom: 50px
  }

  PreviewMetaData::chrome {
    display: grid;
    grid-gap: 24px;
    width: 100%;
  }

  PreviewMetaData::previewItem {
    padding: 24px;
  }

  /** Google */
  PreviewMetaData::google {
    background: var(--google-background);
  }

  PreviewMetaData::googleListing {}

  PreviewMetaData::googleLogo {
    font-size: 30px;
    width: 88px;
    margin-bottom: 8px;
  }

  PreviewMetaData::googleTitle {
    font-size: 22px;
    line-height: 1.273;
    color: var(--google-title);
    font-family: var(--google-font);
    line-height: 1.2;
    padding-top: 4px;
    margin-bottom: 3px;
  }

  PreviewMetaData::googleDescription {
    color: var(--google-desc);
    font-size: 14px;
    font-family: var(--google-font);
    max-width: 48em;
    line-height: 1.58;
    /* Set the multiline truncate value. */
    -webkit-line-clamp: 2;
  }

  PreviewMetaData::googleUrl {
    color: var(--google-url);
    font-size: 14px;
    line-height: 1.3;
    font-family: var(--google-font);
    padding-bottom: 1px;
    padding-top: 1px;
  }

  /** Twitter */

  PreviewMetaData::twitter {
    background: var(--twitter-background);
  }

  PreviewMetaData::twitterListing {
    max-width: 500px;
    background: var(--twitter-listing-background);
    border: 1px solid var(--twitter-border);
    border-radius: 14px;
  }

  PreviewMetaData::twitterLogo {
    font-size: 41px;
    width: 41px;
    margin-left: -8px;
    margin-bottom: 8px;
  }

  PreviewMetaData::twitterImage {
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    display: grid;
    /* Fixes extra space issue. */
  }

  PreviewMetaData::twitterText {
    padding: 10px;
  }

  PreviewMetaData::twitterTitle {
    color: var(--twitter-title);

    font-size: 15px;
    margin: 0 0 2px;
    font-family: var(--twitter-font);
    line-height: 1.3125;
  }

  PreviewMetaData::twitterDescription {
    color: var(--twitter-desc);
    font-size: 15px;
    margin: 0 0 2px;
    font-family: var(--twitter-font);
    line-height: 1.3125;
    -webkit-line-clamp: 2;
  }

  PreviewMetaData::twitterDomain {
    color: var(--twitter-domain);
    font-size: 15px;
    font-family: var(--twitter-font);
    line-height: 1.3125;
  }

  PreviewMetaData::twitterLinkIcon {
    line-height: 19.6875;
    margin-right: 2px;
    font-size: 13px;
  }

  /** Facebook */
  PreviewMetaData::facebook {
    background-color: var(--facebook-background);
  }

  PreviewMetaData::facebookListing {
    max-width: 500px;
    background-color: var(--facebook-listing-background);
    padding: 0 0 10px;
    border: 1px solid var(--facebook-border);
  }

  PreviewMetaData::facebookLogo {
    font-size: 30px;
    width: 30px;
    margin-bottom: 16px;
  }

  PreviewMetaData::facebookImage {
    width: 100%;
    display: block;
  }

  PreviewMetaData::facebookTitle {
    color: var(--facebook-title);
    font-size: 16px;
    padding: 0 16px;
    margin: 5px 0 0;
    font-family: var(--facebook-font);
    line-height: 20px;
    /* Set the multiline truncate value. */
    -webkit-line-clamp: 2;
  }

  PreviewMetaData::facebookDescription {
    color: var(--facebook-desc);
    font-size: 14px;
    margin: 3px 0 0;
    padding: 0 16px;
    font-family: var(--facebook-font);
    line-height: 20px;
  }

  PreviewMetaData::facebookDomain {
    text-transform: uppercase;
    color: var(--facebook-domain);
    padding: 12px 16px 0;
    font-size: 12px;
    font-family: var(--facebook-font);
    line-height: 16px;
  }
}
