@namespace "PreviewModesCMS";
@st-import CMS, [--color-background-main] from "./project.st.css";
@st-import PreviewModes from "../../components/PreviewModes/previewModes.st.css";

@st-scope CMS {
  PreviewModes {
    height: 64px;
    width: 100%;
    background: var(--color-background-main);
    z-index: 1;
    padding-top: 18px;
    transition: border 80ms ease-in-out, margin 80ms ease-in-out;
    /* Hide borders to the left of itself. */
    box-shadow: -1px 0px 0px 0 var(--color-background-main);
    margin-top: -1px;
  }

  PreviewModes::controls {
    justify-items: center;
  }

  PreviewModes::controls::group {
    gap: 40px;
  }

  PreviewModes::control {
    font-size: 0.95em;
    gap: 0
  }

  PreviewModes::control svg {
    font-size: 1.7em;
  }

  PreviewModes::control::input {
    border: none;
  }

  PreviewModes::control::input::before {
    width: 100%;
    height: 1px;
    background: none;
    border-bottom: 1px solid #89ffca;
    box-shadow: 0 0 2px 1px #09b1f1;
  }
}
