@st-import CMS, [
  --spacing-unit,
] from "./project.st.css";
@st-import PreviewChrome, [iframe, chrome] from "../../components/PreviewChrome/previewChrome.st.css";

@st-scope CMS {

  /* Mimic styles inside iframe */
  .appWrapper {
    background: #fff;
    color: #333;
  }

  PreviewChrome {
    height: 60vh;
    overflow: hidden
  }

  /* Social/Web preview - Provided by PreviewMeta. */
  PreviewChrome:previewMode(web) {}

}


/* = Laptop */
@st-scope CMS {

  PreviewChrome:previewMode(laptop) .chrome {
    background-image: url("https://ik.imagekit.io/tcvka0ufln/dasktop_MqyUc9KU_.png");
    padding: 53px 181px 150px 181px;
    transform-origin: center 20vh;
    transform: scale(0.3);
    opacity: .95;
  }

  PreviewChrome:previewMode(laptop) .iframe {
    width: 1452px;
    height: 921px;
  }

  PreviewChrome:previewMode(laptop):fullScreenMode .chrome {
    transform: scale(.45);
    transform-origin: center 2vh;
  }
}

@media screen and (max-width: 950px) and (min-height: 1000px) {
  @st-scope CMS {

    PreviewChrome:previewMode(laptop) .chrome {
      transform: scale(0.21);
    }
  }
}

@media screen and (min-width: 950px) and (max-height: 750px) {
  @st-scope CMS {
    PreviewChrome:previewMode(laptop):fullScreenMode .chrome {
      transform: scale(.3);
      transform-origin: center 2%;
    }
  }
}

@media screen and (min-width: 950px) and (max-height: 800px) {
  @st-scope CMS {
    PreviewChrome:previewMode(laptop):fullScreenMode .chrome {
      transform: scale(.35);
      transform-origin: center 2%;
    }
  }
}

@media screen and (min-width: 950px) and (min-height: 930px) {
  @st-scope CMS {

    PreviewChrome:previewMode(laptop):fullScreenMode .chrome {
      transform: scale(.5);
      transform-origin: center 5%;
    }
  }
}

@media screen and (min-width: 950px) and (min-height: 1080px) {
  @st-scope CMS {

    PreviewChrome:previewMode(laptop):fullScreenMode .chrome {
      transform: scale(.6);
      transform-origin: center 0;
    }
  }
}


/* = Tablet */
@st-scope CMS {

  PreviewChrome:previewMode(tablet) .chrome {
    padding: 123px 65px 129px 65px;
    background-image: url("https://ik.imagekit.io/tcvka0ufln/ipad-chrome_xobepnrZS.png");
    transform: scale(0.4);
    transform-origin: center 0
  }

  PreviewChrome:previewMode(tablet) .iframe {
    width: 768px;
    height: 1024px;
  }

  PreviewChrome:previewMode(tablet):fullScreenMode .chrome {
    transform: scale(.3);
    transform-origin: center 0
  }
}


@media screen and (min-width: 950px) and (max-height: 850px) {
  @st-scope CMS {
    PreviewChrome:previewMode(tablet) .chrome {
      transform: scale(0.3);
      transform-origin: center 2%;
    }

  }
}

@media screen and (min-width: 950px) and (min-height: 850px) {
  @st-scope CMS {

    PreviewChrome:previewMode(tablet):fullScreenMode .chrome {
      transform: scale(.4);
    }
  }
}

@media screen and (min-width: 1300px) and (min-height: 950px) {
  @st-scope CMS {
    PreviewChrome:previewMode(tablet) .chrome {
      transform: scale(0.45);
      transform-origin: center 2%;
    }

    PreviewChrome:previewMode(tablet):fullScreenMode .chrome {
      transform: scale(.45);
    }
  }
}

/* = Mobile */
@st-scope CMS {

  PreviewChrome:previewMode(mobile) {
    max-height: 68vh;
  }

  PreviewChrome:previewMode(mobile) .chrome {
    margin-top: 0;
    background-image: url("https://ik.imagekit.io/tcvka0ufln/iphone-chrome_2__oyoL8Ek9jZ0i.png");
    padding: 66px 32px 40px;
    transform-origin: center 10%;
    transform: scale(0.45);
  }

  PreviewChrome:previewMode(mobile) .iframe {
    width: 375px;
    height: 784px;
    background: #fff;
    border-radius: 0 0 40px 40px;
  }


  PreviewChrome:previewMode(mobile):fullScreenMode {
    max-height: 88vh;
  }

  PreviewChrome:previewMode(mobile):fullScreenMode .chrome {
    transform: scale(0.45);
    transform-origin: center 2%;
  }
}


@media screen and (min-height: 915px) {
  @st-scope CMS {
    PreviewChrome:previewMode(mobile) .chrome {
      transform: scale(0.55);
      transform-origin: center 0%;
    }
  }
}

@media screen and (min-height: 1000px) {
  @st-scope CMS {
    PreviewChrome:previewMode(mobile) .chrome {
      transform: scale(0.65);
    }
  }
}

@media screen and (max-width: 950px),
screen and (min-height: 1000px) {
  @st-scope CMS {
    PreviewChrome:previewMode(mobile) .chrome {
      transform-origin: center 10%;
    }
  }
}

@media screen and (min-width: 950px) and (max-height: 775px) {
  @st-scope CMS {
    PreviewChrome:previewMode(mobile) .chrome {
      transform-origin: center 2%;
    }
  }
}

@media screen and (min-width: 950px) and (min-height: 800px) {
  @st-scope CMS {

    PreviewChrome:previewMode(mobile):fullScreenMode .chrome {
      transform: scale(.55);
      transform-origin: center 2%;
    }
  }
}

@media screen and (min-width: 950px) and (min-height: 900px) {
  @st-scope CMS {

    PreviewChrome:previewMode(mobile):fullScreenMode .chrome {
      transform: scale(.6);
      transform-origin: center 5%;
    }
  }
}

@media screen and (min-width: 950px) and (min-height: 1050px) {
  @st-scope CMS {

    PreviewChrome:previewMode(mobile):fullScreenMode .chrome {
      transform: scale(.7);
    }
  }
}
