@st-namespace "ReorderItemsCMS";
@st-import CMS, [
  --spacing-unit,
  --color-background-main,
  --color-header-background,
  --color-header,
  --color-border-3
] from "./project.st.css";

@st-import ReorderItems from "../../components/ReorderItems/reorderItems.st.css";
@st-import TextField from "@actionishope/shelley/TextField/textField.st.css";
@st-import Button from "@actionishope/shelley/Button/button.st.css";
@st-import ButtonGroup from "@actionishope/shelley/ButtonGroup/buttonGroup.st.css";
@st-import SlateArea from "../../components/SlateArea/slateArea.st.css";
@st-import [ ctaContainer ] from "./field.st.css";

@st-scope CMS {

  ReorderItems::header {
    padding: 16px 24px;
    top: 0;
    display: flex;
    z-index: 10;
    position: sticky;
    align-items: center;
    border-bottom: 1px solid #8989897e;
  }

  ReorderItems::title {
    font-weight: 400;
  }

  ReorderItems::dragContainer {
    padding: calc(var(--spacing-unit) * 2);
    min-width: 250px;
    padding-bottom: 1px;
  }

  ReorderItems::dragContainer:isDragging {
    background-color: #121821;
  }

  ReorderItems::item {
    padding: var(--spacing-unit);
    padding-right: calc(var(--spacing-unit) * 3);
    padding-bottom: calc(var(--spacing-unit) * 1);
    border-radius: 4px;
    position: relative;
    border: 1px dashed var(--color-border-3);
  }

  ReorderItems::item:not(:last-child),
  ReorderItems:hasButtonAfter::item:last-child {
    margin-bottom: calc(var(--spacing-unit) * 2);
  }

  ReorderItems::item TextField:variant(quiet),
  ReorderItems::item SlateArea {
    margin-left: calc(var(--spacing-unit) * -1);
  }

  ReorderItems::item TextField:variant(quiet)::fieldInput,
  ReorderItems::item SlateArea {
    padding-left: calc(var(--spacing-unit) * 2);
  }

  ReorderItems::item .ctaContainer {
    margin-left: calc(var(--spacing-unit) * 1);
  }

  ReorderItems::item:isDragging {
    background-color: rgba(0, 157, 106, .3);
    background-color: #065c6729;
  }

  ReorderItems::item:highlight {
    box-shadow: 0 0 1px 1px rgb(6 92 103);
  }

  ReorderItems::dragIcon {
    position: absolute;
    right: 20px;
    top: calc(50% - 12px);
    font-size: 1.5em;
  }

  ReorderItems::content {
    position: relative;
  }

  ReorderItems::deleteButton:variant(fab) {
    border: 1px dashed var(--color-border-3);
    top: -28px;
    left: -28px;
    width: 30px;
    height: 30px;
    position: absolute;
    opacity: 1;
  }

  ReorderItems::contentLabel {
    font-size: 0.7em;
    margin-bottom: calc(var(--spacing-unit) / 4);
    background-color: var(--color-header-background);
    color: var(--color-header);
    padding: 4px;
    display: inline-flex;
  }

}
