@st-namespace "SettingsPanelCMS";

@st-import CMS, [
  --color-ui,
  --color-focus,
  --color-ui-inverse,
  --color-accent-1,
  --color-accent-3,
  --color-background-contrast-1,
  --color-background-3,
  --spacing-unit,
  --height-header-sm,
  --height-header-md,
  breakpoint-md,
  breakpoint-md-max,
] from "./project.st.css";
@property st-global(--vh);
@st-import Switch from "@actionishope/shelley/Switch/switch.st.css";
@st-import Select from "@actionishope/shelley/Select/select.st.css";
@st-import TextField from "@actionishope/shelley/TextField/textField.st.css";
@st-import CheckboxGroup from "@actionishope/shelley/CheckboxGroup/checkboxGroup.st.css";
@st-import ProgressCircle from "@actionishope/shelley/ProgressCircle/progressCircle.st.css";
@st-import [pseudoFocus, pseudoFocusVisible] from "@actionishope/shelley/styles/default/mixins/focus.st.css";

@st-import SettingsPanel, [active] from "../../components/SettingsPanel/settingsPanel.st.css";
@st-import SubHeader from "../../components/SubHeader/subHeader.st.css";

@st-scope CMS {

  SettingsPanel {
    --height-header: var(--height-header-sm);
    grid-template-columns: 230px 1fr;
    grid-template-rows: var(--height-header) 1fr;
    grid-column-gap: var(--spacing-unit);
    min-height: calc(var(--vh, 1vh) * 100 - var(--height-header));
  }

  SettingsPanel ProgressCircle {
    margin-top: calc(var(--spacing-unit) * 3);
    margin-bottom: calc(var(--spacing-unit) * 3);
    margin-left: calc(50% - 32px)
  }

  SettingsPanel::subHeader {
    height: var(--height-header);
    grid-row: 1;
    grid-column: span 2;
  }

  SettingsPanel::subHeader::title {
    position: relative;
    top: 3px
  }

  SettingsPanel::subHeader Switch {
    gap: var(--spacing-unit);
    font-style: italic;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-size: .75em;
  }

  SettingsPanel::subHeader Switch > span:first-child {
    font-weight: 600;
  }

  SettingsPanel::subHeader::title svg {
    color: var(--color-accent-3);
  }

  SettingsPanel::innerScroll {
    margin-top: var(--spacing-unit);
    padding-right: var(--spacing-unit);
    max-height: calc(var(--vh, 1vh) * 100 - calc(var(--height-header) * 2) - calc(var(--spacing-unit) * 2));
  }

  SettingsPanel::innerScroll > h2 {
    position: sticky;
    background-color: var(--color-background-contrast-1);
    top: 0;
    z-index: 100;
    padding: calc(var(--spacing-unit) / 1) calc(var(--spacing-unit) * 1);
    border-bottom: 1px solid var(--color-accent-1);
    margin-left: var(--spacing-unit);
    box-shadow: 0 14px 8px 0 var(--color-background-contrast-1);
  }

  SettingsPanel::form {
    display: grid;
    gap: calc(var(--spacing-unit) * 2);
    background-color: var(--color-background-contrast-1);
    margin-top: calc(var(--spacing-unit) * 1.5);
    margin-right: calc(var(--spacing-unit) * 1);
    max-height: calc(var(--vh, 1vh) * 100 - calc(var(--height-header) * 2) - calc(var(--spacing-unit) * 3));
    padding: calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 1);
  }

  /* @todo: fix base theme styles with slateArea, I think this messed things up a bit. For now this will fix them here without breaking anything else.*/
  SettingsPanel TextField:isDisabled::fieldInput,
  SettingsPanel CheckboxGroup:isDisabled {
    opacity: .5;
  }

  SettingsPanel::settingsString {
    position: absolute;
    font-size: 0.4em;
    font-weight: 500;
    margin-top: calc(var(--spacing-unit) * -2.5);
    margin-left: calc(var(--spacing-unit) / 1.5)
  }

  SettingsPanel::nav {
    display: flex;
    flex-direction: column;
    padding: 30px calc(var(--spacing-unit) * 0.5);
  }

  SettingsPanel::nav a {
    position: relative;
    padding: 10px calc(var(--spacing-unit) * 0.5);
    display: flex;
    gap: calc(var(--spacing-unit) * .5);
    align-items: center;
    text-decoration: none;
    color: var(--color-ui);
    outline: none;
    border: none;
  }

  SettingsPanel::nav a::after {
    -st-mixin: pseudoFocus;
    border-radius: 4px;
  }

  SettingsPanel::nav a:focus-visible::after {
    -st-mixin: pseudoFocusVisible;
  }

  SettingsPanel::nav a svg {
    transition: color 0.19s ease;
    font-size: 1.5em;
    color: var(--color-accent-1);
  }

  SettingsPanel::nav a:hover svg,
  SettingsPanel::nav a:focus-visible svg {
    color: var(--color-focus);
  }

  SettingsPanel::nav a.active {
    cursor: default;
  }

  SettingsPanel::nav a.active svg,
  SettingsPanel::nav a.active:hover svg {
    color: var(--color-accent-3);
  }

  /* Menus */
  SettingsPanel::menuSelect {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: var(--spacing-unit)
  }

  SettingsPanel::menuSelect Select {
    width: 300px;
    grid-template-columns: .5fr 1fr;
  }


  SettingsPanel::menus {
    background-color: var(--color-background-contrast-1);
    margin-top: calc(var(--spacing-unit) * 1.5);
    margin-right: calc(var(--spacing-unit) * 1);
    max-height: calc(var(--vh, 1vh) * 100 - calc(var(--height-header) * 2) - calc(var(--spacing-unit) * 3));
  }

  SettingsPanel::reorderMenuItems::dragIcon {
    right: 14px;
    top: 1rem
  }

  SettingsPanel::buttonGroup {
    align-items: center;
    margin-left: calc(var(--spacing-unit) * 2);
    margin-bottom: 40px;
  }

  SettingsPanel::addMultiLanguage {
    padding: calc(var(--spacing-unit) * 2);
    display: grid;
    gap: calc(var(--spacing-unit) * 1.5)
  }
}

@media value(breakpoint-md) {
  @st-scope CMS {
    SettingsPanel {
      --height-header: var(--height-header-md);
    }

    SettingsPanel::nav {
      background-color: var(--color-background-contrast-1);
    }
  }
}

@media value(breakpoint-md-max) {
  @st-scope CMS {
    SettingsPanel {
      grid-template-columns: 35px 1fr;
    }

    SettingsPanel::nav span {
      display: none;
    }
  }


}
