@namespace "SlateAreaCMS";
@st-import CMS, [
  --color-ui,
  --color-ui-inverse,
  --spacing-unit,
  --color-accent-1,
  --color-accent-2,
  --color-background-3,
  --color-focus,
  --text-vol-3-scale, --text-vol-3-max,
  --text-vol-4-scale, --text-vol-4-max,
  --text-vol-5-scale, --text-vol-5-max,
  --text-vol-6-scale, --text-vol-6-max,
  --field-padding,
] from "./project.st.css";

@st-import SlateArea from "../../components/SlateArea/slateArea.st.css";
@st-import ReorderItems from "../../components/ReorderItems/reorderItems.st.css";
@st-import Field from "@actionishope/shelley/Field/field.st.css";
@st-import [respScale] from "../formatters/common";
@st-import [
    hideWebkitAppearance,
    disabledField,
    inputVol1,
    inputVol2,
    inputVol3,
    inputVol4,
    inputVol5,
    inputVol6
] from "@actionishope/shelley/styles/default/mixins/formElements.st.css";

.mediaItem {}

.mediaContent {}

.mediaElement {
  -st-states: isFocused, isSelected;
}

@st-scope CMS {
  SlateArea {
    color: inherit;
    padding: var(--field-padding);
  }

  SlateArea::before {
    content: 'RTF';
    display: block;
    position: absolute;
    font-size: 9px;
    letter-spacing: 1px;
    left: 0px;
    top: calc(50% - 8px);
    font-weight: 900;
    background-color: var(--color-focus);
    color: white;
    padding: 1px 4px;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  SlateArea:focus-within::before {
    opacity: 1;
  }

  SlateArea::before {
    /* top: 10px; */
  }

  SlateArea::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    background: var(--color-focus);
    width: 0;
    opacity: 0;
    transition: all 0.2s linear;
  }

  SlateArea::after {
    box-shadow: 0 0 1px 1px var(--color-focus);
  }

  SlateArea:focus-within::after {
    opacity: 1;
  }


  SlateArea h2,
  SlateArea h3,
  SlateArea h4,
  SlateArea h5 {
    font-weight: normal;
  }

  SlateArea h2:not(:only-child):not(:last-child),
  SlateArea h3:not(:only-child):not(:last-child),
  SlateArea h4:not(:only-child):not(:last-child),
  SlateArea h5:not(:only-child):not(:last-child),
  SlateArea p:not(:only-child):not(:last-child),
  SlateArea ol:not(:only-child):not(:last-child),
  SlateArea ul:not(:only-child):not(:last-child) {
    margin: 0 0 calc(var(--spacing-unit) * 1.5);
  }

  SlateArea h2 {
    font-size: 1.7em;
  }

  SlateArea h3 {
    font-size: 1.4em;
  }

  SlateArea h4 {
    font-size: 1.2em;
  }

  SlateArea h5 {
    font-size: 1.1em;
  }

  SlateArea h6 {
    font-size: 1em;
  }

  SlateArea blockquote {
    border-left: 2px solid var(--color-accent-2);
    padding: var(--spacing-unit);
    font-size: 1.1em;
  }

  SlateArea a {
    text-decoration: underline;
    margin-bottom: 3px;
    color: var(--color-accent-2);
  }

  SlateArea ol,
  SlateArea ul {
    padding-left: 1px;
    margin-left: var(--spacing-unit);
  }

  SlateArea li {
    margin-bottom: calc(var(--spacing-unit) / 2)
  }

  /*==== VOLUMES ====*/

  /* = Volume 1 */
  SlateArea:vol(1) {
    -st-mixin: inputVol1;
  }

  /* = Volume 2 */
  SlateArea:vol(2) {
    -st-mixin: inputVol2;
  }

  /* = Volume 3 */
  SlateArea:vol(3) {
    -st-mixin: inputVol3
  }

  /* = Volume 4 */
  SlateArea:vol(4) {
    -st-mixin: inputVol4
  }

  /* = Volume 5 */
  SlateArea:vol(5) {
    -st-mixin: inputVol5
  }

  /* = Volume 6 */
  SlateArea:vol(6) {
    -st-mixin: inputVol6
  }

  /* CTA */
  .cta {
    -st-extends: SlateArea;
  }

  .cta {
    margin-top: var(--spacing-unit);
    width: fit-content;
    min-width: 185px;
  }

  ReorderItems::item .cta:vol(1):multiline {
    margin-left: 0;
  }

  .cta:vol(1) {
    font-size: 14px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-accent-1);
  }

  .cta:vol(1):focus-within {
    border-color: var(--color-focus);
  }

  .cta:vol(1)::before {
    top: -8px;
    top: auto;
    bottom: -8px;
    left: var(--spacing-unit);
    left: 0
  }

  .cta:vol(1):focus-within::after {
    box-shadow: none;
    opacity: 0;
  }

  .ctaButton {
    -st-extends: cta;
  }

  .ctaButton {
    border-radius: 999em;
    background-color: var(--color-background-3);
  }

  /* CTA LINK */

  .ctaLink {
    -st-extends: cta;
  }

  .ctaLink:vol(1) {
    border-width: 0 0 2px 0;
    border-radius: 0;
  }

  /* Media */
  .mediaItem {
    background-color: var(--color-background-3);
    padding: 20px;
    margin-top: 30px 0 40px -20px;
  }

  .mediaContent {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mediaElement {
    display: flex;
    align-items: center;
    font-style: italic;
    gap: 10px;
    padding-right: 10px;
  }

  .mediaElement:isFocused {
    box-shadow: 0 0 0 3px var(--color-focus);
  }

  .element > svg {
    font-size: 28px;
  }

}
