@st-namespace "TableViewCMS";
@st-import CMS, [
    --color-background-main,
    --color-background-row as --project-color-background-row,
    --color-text-row as --project-color-text-row,
    --color-background-row-isPressed as --project-color-background-row-isPressed,
    --color-text-row-isPressed as --project-color-text-row-isPressed,
    --color-background-row-isSelected as --project-color-background-row-isSelected,
    --color-text-row-isSelected as --project-color-text-row-isSelected,
    --color-background-row-isHovered as --project-color-background-row-isHovered,
    --color-text-row-isHovered as --project-color-text-row-isHovered,
    --color-background-row-isHoveredSelected as --project-color-background-row-isHoveredSelected,
    --color-text-row-isHoveredSelected as --project-color-text-row-isHoveredSelected,
    --color-border-tbody as --project-color-border-tbody
  ] from "./project.st.css";

@st-import TableView, [row] from "@actionishope/shelley/TableView/tableView.st.css";
@st-import [
  --color-background-row,
  --color-text-row,
  --color-background-row-isPressed,
  --color-text-row-isPressed,
  --color-background-row-isSelected,
  --color-text-row-isSelected,
  --color-background-row-isHovered,
  --color-text-row-isHovered,
  --color-background-row-isHoveredSelected,
  --color-text-row-isHoveredSelected,
  --color-border-tbody
] from "@actionishope/shelley/styles/default/tableView.st.css";

@st-scope CMS {
  TableView {
    --color-background-row: var(--project-color-background-row);
    --color-text-row: var(--project-color-text-row);
    --color-background-row-isPressed: var(--project-color-background-row-isPressed);
    --color-text-row-isPressed: var(--project-color-text-row-isPressed);
    --color-background-row-isSelected: var(--project-color-background-row-isSelected);
    --color-text-row-isSelected: var(--project-color-text-row-isSelected);
    --color-background-row-isHovered: var(--project-color-background-row-isHovered);
    --color-text-row-isHovered: var(--project-color-text-row-isHovered);
    --color-background-row-isHoveredSelected: var(--project-color-background-row-isHoveredSelected);
    --color-text-row-isHoveredSelected: var(--project-color-text-row-isHoveredSelected);
    --color-border-tbody: var(--project-color-border-tbody);
  }

  TableView::column {
    background-color: var(--color-background-main);
    font-weight: 500;
    /* @TODO: bugfix - apply this in shelley. */
    z-index: 10;
  }

  /* @TODO: apply something like this shelley default */
  TableView::cell svg {
    font-size: 20px;
  }

}
