@st-namespace "TableViewCMS";
@st-import CMS, [ --bg-main ] from "./project.st.css";

@st-import TableView, [row] from "@actionishope/shelley/TableView/tableView.st.css";

@st-scope CMS {
  TableView::column {
    background-color: var(--bg-main);
    font-weight: 500;
    /* @TODO: bugfix - apply this in shelley. */
    z-index: 10;
  }

  /* @TODO: apply something like this shelley default */
  TableView::cell svg {
    font-size: 20px;
  }

}
