@st-namespace "TextFieldCMS";
@st-import CMS, [
  --color-ui,
  --color-ui-inverse,
  --color-background-field-fill
] from "./project.st.css";

@st-import TextField from "@actionishope/shelley/TextField/textField.st.css";

@st-scope body CMS {

  TextField:variant(filled)::fieldContainer {
    background-color: var(--color-background-field-fill);
  }

}
