/** text.st.css */

/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: CMS;
  -st-named:
    /* = CSS3 Vars. */
    --color-accent-2,
    --color-accent-4;
}


/* = Root Component */
:import {
  -st-from: "@actionishope/shelley/components/Text/text.st.css";
  -st-default: Text;
}

/* = Root Component */
:import {
  -st-from: "@actionishope/shelley/components/Grid/grid.st.css";
  -st-default: Grid;
}

@st-scope CMS {
  Text {
    /* font-weight: 400; */
    /* = switch off for light / dark bgs.... */
    /* -webkit-font-smoothing: antialiased; */
  }

  /* = Uppercase */
  Text:uppercase {
    /* letter-spacing: .25em; */
    letter-spacing: .05em;
  }

  Text:vol(1):uppercase {
    letter-spacing: .15em;
  }

  Text:vol(2):uppercase {
    letter-spacing: .41em;
  }

  Text:vol(3):uppercase {
    letter-spacing: .41em;
  }

  Text:vol(4):uppercase {
    letter-spacing: .1em;
  }

  Grid Text.center {
    text-align: center;
  }

  /* = Set default weights for certain volumes */
  Text:vol(7) {
    font-weight: 300;
  }

  Text:vol(8) {
    font-weight: 300;
  }

  Text:vol(9) {
    font-weight: 300;
  }

  /* = Styles - typical child children. @todo tidy... */
  Text a {
    text-decoration: none;
    position: relative;
    padding-bottom: 1px;
    color: var(--color-accent-2);
    border: 0 solid rgba(110, 164, 218, 0.5);
    border-width: 0 0 0.05em 0;
    transition: border-color .15s ease-out;
  }

  Text a:hover,
  Text a:focus {
    border-color: #81c1ff
  }

  Text del,
  Text ins {
    text-decoration: none;
    padding: 0.1rem 0;
  }

  Text del {
    background-position: 0 -0.5em;
    background-image: linear-gradient(0deg, #ff6a6a 0%, transparent 2px);
  }

  Text ins {
    background-image: linear-gradient(0deg, #23c48d 0%, transparent 2px);
  }

  Text em {
    font-weight: 400;
  }

  Text code {
    font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
    font-size: .8em;
    font-weight: 600;
    color: var(--color-accent-4);
  }

}
