@st-namespace "ToastCMS";
@st-import CMS from "./project.st.css";
@st-import Toast from "@actionishope/shelley/Toast/toast.st.css";
@st-import ToastRegion from "@actionishope/shelley/Toast/toastRegion.st.css";

@st-scope CMS {

  ToastRegion {
    align-items: baseline
  }

  Toast[data-animation=entering] {
    animation: slide-in .3s forwards;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
