/* contentActions.st.css */
@st-namespace "ContentActions";
@st-import Button from "@actionishope/shelley/Button/button.st.css";
@st-import Modal, [enterDone, content] from "@actionishope/shelley/Modal/modal.st.css";
@st-import Dialog from "@actionishope/shelley/Dialog/dialog.st.css";
@st-import Tabs from "@actionishope/shelley/Tabs/tabs.st.css";
@st-import Checkbox from "@actionishope/shelley/Checkbox/checkbox.st.css";
@st-import ReorderItems from "../../components/ReorderItems/reorderItems.st.css";

.root {}

.addBlockButton {
  -st-extends: Button;
}

.dialog {
  -st-extends: Dialog;
}

.halfScreenModal {
  -st-extends: Modal;
}

Modal.halfScreenModal.enterDone .content {
  /* reorder d'n'd will not work properly inside a transformed container.*/
  transform: unset;
}

.tabs {
  -st-extends: Tabs;
}

.cardGrid {}

.addMultipleCheckbox {
  -st-extends: Checkbox;
}

.reorderItems {
  -st-extends: ReorderItems;
}
