/**
 * = Alternate colour scheme - Light
 *
 * These are our alternate color schemes, only variable aware browers will see 
 * these so no need to set that as stylable build variables unless you want to.
 * Try to stay organised.
 */

@namespace "light";

:import {
  -st-from: "../project.st.css";
  -st-named:
    --color-focus,
    --color-error,
    --color-form-base-border,
    --color-form-selection-border,
    --color-form-selection-notch,
    --color-switch-notch,
    --select-icon;
}


:import {
  -st-from: "../project.st.css";
  -st-named:
    /* = Run time vars (CSS) - importing maintains the namespace. */
    --dark-01,
    --dark-01-raw,
    --light-01,
    --light-01-raw,
    /* = Forground colors - main and inverted plus rgb versions as 'raw'. */
    --color-ui,
    --color-ui-raw,
    --color-ui-inverse,
    --color-ui-raw-inverse,
    /* = Accent colors */
    --color-accent-1,
    --color-accent-2,
    --color-accent-3,
    --color-accent-4,
    /* = Background colors */
    --color-background-1,
    --color-background-2,
    --color-background-3,
    --color-background-4,
    /* = Border colors */
    --color-border-1,
    --color-border-2,
    /* = Modal colors */
    --color-background-modal-1,
    --color-modal-border-1,
    --color-background-modal-content-1,
    /* = Focus mode colors */
    --color-focus-mode-background,
    /* = Header colors */
    --color-header-background,
    --color-header-border,
    /* = Text colors */
    --color-text-1,
    --color-text-2,
    --color-text-3,
    --color-text-4,
    /* = Status colors */
    /* --color-error, */
    /* = Indicator colors */
    /* --color-focus, */
    /* = Form colors */
    /* --color-form-mark,
    --color-form-selection-track,
    --color-form-selection-mark, */
    /* = Gradiants */
    --grad-1,
    /* = Meta Data / Social */
    --google-background,
    --google-title,
    --google-desc,
    --google-url,
    --twitter-background,
    --twitter-listing-background,
    --twitter-border,
    --twitter-title,
    --twitter-desc,
    --twitter-domain,
    --facebook-background,
    --facebook-listing-background,
    --facebook-border,
    --facebook-title,
    --facebook-desc,
    --facebook-domain;
}

/* 
  = This 'theme' overrides some of the css variables defined in the project.st.css file,
  replacing the entire design of the application.
 */
.root {
  /* = Override our CSS runtime variables, if our user prefers it light as a feather. */

  /* = Forground colors - main and inverted plus rgb versions as 'raw'. */
  --color-ui: var(--dark-01);
  --color-ui-raw: var(--dark-01-raw);
  --color-ui-inverse: var(--light-01);
  --color-ui-raw-inverse: var(--light-01-raw);

  /* = Accent colors */
  --color-accent-1: #16a78e;
  /*#1495b7;*/
  /* --color-accent-2: rgb(15, 108, 189); */
  /* --color-accent-2: rgb(101 86 93); */
  --color-accent-2: rgb(68 134 136);
  --color-accent-3: rgb(37 43 45 / 80%);
  --color-accent-4: rgb(134, 102, 30);

  /* = Background colors */
  --color-background-1: #e8e8e8;
  --color-background-2: #e2e2e2;
  --color-background-3: #f3f3f3;
  --color-background-4: rgb(255, 255, 255, 0.8);
  --color-background-modal: rgba(249, 249, 249, 0.98);

  /* = Border colors */
  /* --color-border-1: #a8b9bd; */
  --color-border-1: #fff;
  /* --color-border-2: green; */

  /* = Modal colors */
  --color-background-modal-1: rgb(0 0 0 / 40%);
  --color-modal-border-1: #fff;
  --color-background-modal-content-1: var(--color-background-1);

  /* = Focus mode colors*/
  --color-focus-mode-background: #d2d2d2;

  /* = Header colors */
  --color-header-background: var(--color-accent-1);
  --color-header-border: #000;


  /* = Text colors */
  --color-text-1: var(--dark-01);
  --color-text-2: rgba(var(--dark-01-raw), 0.9);
  --color-text-3: rgba(var(--dark-01-raw), 0.8);
  --color-text-4: rgb(134, 102, 30);

  /* = Status colors - TBC */
  --color-error: red;

  /* = Indicator colors */
  /* --color-focus: pink; */

  /* = Form colors */
  --color-form-base-border: rgba(121, 170, 216, 0.5);
  --color-form-selection-border: rgba(121, 170, 216, 1);
  --color-form-selection-notch: #20af68;
  --color-toggle-notch: #a5a5a5;

  /* = Gradiants */
  --grad-1: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 200px, rgba(255, 255, 255, 0.5) 500px, rgba(255, 255, 255, 0.8) 100%);

  /* = Meta Data Social Preview */
  --google-background: #fff;
  --google-title: #1a0dab;
  --google-desc: #4d5156;
  --google-url: #202124;

  --twitter-background: #fff;
  --twitter-listing-background: #fff;
  --twitter-border: #c4cfd6;
  --twitter-title: #1d2129;
  --twitter-desc: #5b7083;
  --twitter-domain: #5b7083;

  --facebook-background: #fff;
  --facebook-listing-background: #f0f2f5;
  --facebook-border: #dddfe2;
  --facebook-title: #1d2129;
  --facebook-desc: #606770;
  --facebook-domain: #606770;

  /* = Misc */
  /* --select-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='333333' xml:space='preserve'><path d='M13 4v2l-5 5-5-5v-2l5 5z'></path></svg>"); */
  --select-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='333333' xml:space='preserve'><path d='M3 2v2l5 5 5-5v-2l-5 5z'></path><path d='M3 7v2l5 5 5-5v-2l-5 5z'></path></svg>");

}
