/**
 * = Alternate colour scheme - Light
 *
 * These are our alternate color schemes, only variable aware browers will see 
 * these so no need to set that as stylable build variables unless you want to.
 * Try to stay organised.
 */

@namespace "light";

:import {
  -st-from: "../project.st.css";
  -st-named:
    --color-focus,
    --color-error,
    --color-form-base-border,
    --color-form-selection-border,
    --color-form-selection-notch,
    --color-switch-notch
}

:import {
  -st-from: "../project.st.css";
  -st-named:
    /* = Run time vars (CSS) - importing maintains the namespace. */
    --dark-01,
    --dark-01-raw,
    --light-01,
    --light-01-raw,
    /* = Forground colors - main and inverted plus rgb versions as 'raw'. */
    --color-ui,
    --color-ui-raw,
    --color-ui-inverse,
    --color-ui-raw-inverse,
    /* = Accent colors */
    --color-accent-1,
    --color-accent-2,
    --color-accent-3,
    --color-accent-4,
    /* = Background colors */
    --color-background-main,
    --color-background-contrast-1,
    --color-background-contrast-2,
    --color-background-2,
    --color-background-3,
    --color-background-4,
    --color-background-listBox-option-hover,
    --color-background-field-fill,
    /* = Border colors */
    --color-border-1,
    --color-border-2,
    /* = Modal colors */
    --background-color-modal-backdrop,
    --color-border-dialog,
    --background-color-popup,
    --color-popup,
    --border-color-popup,
    /* = Dialog colors */
    --background-color-dialog,
    --color-dialog,
    /* = Focus mode colors */
    --color-focus-mode-background,
    /* = Header colors */
    --color-header-background,
    --color-header-border,
    /* = Text colors */
    --color-text-1,
    --color-text-2,
    --color-text-3,
    --color-text-4,
    /* Focus Mode*/
    --color-focus-mode-background,
    /* = Tables */
    --color-background-row,
    --color-text-row,
    --color-background-row-isPressed,
    --color-text-row-isPressed,
    --color-background-row-isSelected,
    --color-text-row-isSelected,
    --color-background-row-isHovered,
    --color-text-row-isHovered,
    --color-background-row-isHoveredSelected,
    --color-text-row-isHoveredSelected,
    --color-border-tbody
    /* = Gradiants */
    --grad-1,
    --grad-2,
    /* = Meta Data / Social */
    --google-background,
    --google-title,
    --google-desc,
    --google-url,
    --twitter-background,
    --twitter-listing-background,
    --twitter-border,
    --twitter-title,
    --twitter-desc,
    --twitter-domain,
    --facebook-background,
    --facebook-listing-background,
    --facebook-border,
    --facebook-title,
    --facebook-desc,
    --facebook-domain,
    --box-shadow-metaData
}

/* 
  = This 'theme' overrides some of the css variables defined in the project.st.css file,
  replacing the entire design of the application.
 */
.root {
  /* = Override our CSS runtime variables, if our user prefers it light as a feather. */

  /* = Forground colors - main and inverted plus rgb versions as 'raw'. */
  --color-ui: var(--dark-01);
  --color-ui-raw: var(--dark-01-raw);
  --color-ui-inverse: var(--light-01);
  --color-ui-raw-inverse: var(--light-01-raw);

  /* = Accent colors */
  /* --color-accent-1: #16a78e; */
  --color-accent-1: var(--color-header-background);
  --color-accent-2: rgb(68 134 136);
  --color-accent-3: rgb(37 43 45 / 80%);

  /* = Background colors */
  --color-background-main: #e8e8e8;
  --color-background-contrast-1: #fff;
  --color-background-contrast-2: #f2f2f2;
  --color-background-2: #e2e2e2;
  --color-background-3: #f3f3f3;
  --color-background-4: rgb(255, 255, 255, 0.25);
  --color-background-modal: rgba(249, 249, 249, 0.98);
  --color-background-listBox-option-hover: rgba(255, 255, 255, 0.8);
  --color-background-field-fill: #fff;
  --border-color-popup: rgba(var(--color-ui-raw), 0.2);
  --background-color-popup: var(--color-background-modal);
  --color-popup: var(--color-ui);

  /* = Border colors */
  --color-border-1: #fff;
  --color-border-2: rgba(var(--color-ui-raw-inverse), .7);

  /* = Modal colors */
  --background-color-modal-backdrop: rgb(0 0 0 / 40%);
  --color-border-dialog: #fff;

  /* Dialog colors */
  --color-dialog: var(--color-ui);
  --background-color-dialog: var(--color-background-main);

  /* = Focus mode colors*/
  --color-focus-mode-background: #d2d2d2;

  /* = Text colors */
  --color-text-1: var(--dark-01);
  --color-text-2: rgba(var(--dark-01-raw), 0.9);
  --color-text-3: rgba(var(--dark-01-raw), 0.8);
  --color-text-4: rgba(var(--dark-01-raw), 0.7);

  /* = Status colors - TBC */
  --color-error: red;

  /* = Form colors */
  --color-form-base-border: rgba(121, 170, 216, 0.5);
  --color-form-selection-border: rgba(121, 170, 216, 1);
  --color-form-selection-notch: #20af68;
  --color-switch-notch: #a5a5a5;

  --color-focus-mode-background: var(--color-background-3);

  /* = Table colours */
  --color-background-row: var(--color-background-contrast-1);
  --color-text-row: var(--color-text-3);
  --color-background-row-isPressed: #f3f3f3;
  --color-text-row-isPressed: var(--color-text-3);
  --color-background-row-isSelected: #e9f0fc;
  --color-text-row-isSelected: var(--color-text-3);
  --color-background-row-isHovered: GhostWhite;
  --color-text-row-isHovered: var(--color-text-3);
  --color-background-row-isHoveredSelected: #dfedff;
  --color-text-row-isHoveredSelected: var(--color-text-3);
  --color-border-tbody: rgba(var(--color-ui-raw), .15);


  /* = Gradiants */
  /* --grad-1: linear-gradient(90deg, #404b7105, transparent); */
  --grad-1: linear-gradient(90deg, #9898982b, transparent);
  /* --grad-2: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 200px, rgba(255, 255, 255, 0.5) 500px, rgba(255, 255, 255, 0.8) 100%); */
  --grad-2: linear-gradient(180deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, .6) 35%, rgba(232, 232, 232, 1) 100%);
  /* = MetaDataEditor */
  --box-shadow-metaData: 0 0 1px 1px #f3f3f3;

  /* = Meta Data Social Preview */
  --google-background: #fff;
  --google-title: #1a0dab;
  --google-desc: #4d5156;
  --google-url: #202124;

  --twitter-background: #fff;
  --twitter-listing-background: #fff;
  --twitter-border: #c4cfd6;
  --twitter-title: #1d2129;
  --twitter-desc: #5b7083;
  --twitter-domain: #5b7083;

  --facebook-background: #fff;
  --facebook-listing-background: #f0f2f5;
  --facebook-border: #dddfe2;
  --facebook-title: #1d2129;
  --facebook-desc: #606770;
  --facebook-domain: #606770;
}
