/* previewModes.st.css */
@st-namespace "PreviewModes";
@st-import RadioGroup from "@actionishope/shelley/RadioGroup/radioGroup.st.css";
@st-import Radio from "@actionishope/shelley/Radio/radio.st.css";
@st-import Icon from "@actionishope/shelley/Icon/icon.st.css";

.root {}

.controls {
  -st-extends: RadioGroup;
}

.control {
  -st-extends: Radio;
}

.icon {
  -st-extends: Icon;
}
