/* finder.st.css */
@namespace "Finder";

@st-import TextField from "@actionishope/shelley/TextField/textField.st.css";
@st-import Modal from "@actionishope/shelley/Modal/modal.st.css";

.root {
  -st-states: isMobile;
}

.actionBar {}

.title {}

.actionButton {}

.main {}

.sideBar {}

.sideBarMobile {}

.sideBarDesktop {}

.sideBarModal {
  -st-extends: Modal;
}

.content {}

.searchBar {}

.searchField {
  -st-extends: TextField;
}
