/* header.st.css CSS API */
@st-import Dialog from "@actionishope/shelley/Dialog/dialog.st.css";
@st-import Switch from "@actionishope/shelley/Switch/switch.st.css";
@st-import AppBar from "@actionishope/shelley/AppBar/appBar.st.css";

.root {
  -st-extends: AppBar;
}

.navTrigger {}

.nav {
  -st-states: isOpen;
}



.title {}

.publisherName {}

.siteName {}

.siteListTrigger {}

.sitesDialog {
  -st-extends: Dialog;
}

.sitesDialogTitle {}

.sitesDialogContent {}

.themeSwitcher {
  -st-extends: Switch;
}

.userActions {}

.userDialog {}

.userDetails {}

.userDetailsHeader {}

/* @todo Create avatar component  */
.avatar {
  display: flex;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
}

.avatarImage {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}
