@namespace "BlockEditor";

@st-import Button from "@actionishope/shelley/Button/button.st.css";
@st-import Menu from "@actionishope/shelley/Menu/menu.st.css";
@st-import Modal from "@actionishope/shelley/Modal/modal.st.css";
@st-import Preview from "../../components/Preview/preview.st.css";
@st-import PreviewActions from "../../components/PreviewActions/previewActions.st.css";
@st-import ContentArea from "../../components/ContentArea/contentArea.st.css";
@st-import PageActions from "../../components/PageActions/pageActions.st.css";
@st-import MenuItem from "@actionishope/shelley/MenuItem/menuItem.st.css";
@st-import Dialog from "@actionishope/shelley/Dialog/dialog.st.css";

.root {}

.menuTrigger {
  -st-extends: Button;
}

.options {}

.menu {
  -st-extends: Menu
}

.menu MenuItem:isDisabled {
  display: none
}

.modal {
  -st-extends: Modal;
}

.dialog {
  -st-extends: Dialog;
}

.message {}

.mainContent {}

.label {}

.warningMessage {}

.dialogTransition {}

.dialogContentWithActions {}

.settingsTitle {}
