    .materialIcons {
      font-family: Material Icons;
      font-size: 25px;
      vertical-align: text-bottom;
    }

    .button {
      /* color: contrastText; */
      color: #fff;
      cursor: pointer;
    }

    .button[data-active='true'] {
      /* Stole Mediums col; */
      color: #34e79a;
    }

    .menu {
      /* // hover menu styles */
      padding: 12px;
      position: absolute;
      z-index: 1;
      top: -10000px;
      left: -10000px;
      margin-top: -6px;
      opacity: 0;
      background-color: #333;
      border-radius: 5px;
      transition: opacity 0.75;
    }

    .menu > * {
      display: inline-block;
    }

    .menu > * + * {
      margin-left: 15px;
    }

    .menu .button {
      color: hotpink;
    }
