@namespace "SlateHoverMenu";

.root {
  /* // hover menu styles */
  padding: 12px;
  position: absolute;
  z-index: 100;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #333;
  border-radius: 5px;
  transition: opacity 0.75;
  display: flex;
  gap: 15px;
}

.button {
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  display: inline-flex;
  vertical-align: bottom;
}

.button[data-active='true'] {
  /* Stole Mediums col; */
  color: #34e79a;
}
