@namespace "SlateArea";

.root {
  -st-states: multiline, largeLeftPadding, vol(number);
}

.container {
  position: relative;
}

.root:multiline {}


.root:largeLeftPadding {
  padding-left: 65px;
}

.root {
  font-size: 1.1rem;
  font-family: inherit;

  /* // Match line-height of theme.*/
  line-height: 1.45;
  /* // Ensures the offset padding is still clickable if -ve margin pulls over another item. */
  position: relative;
  /* // Some margin on the RHS to stop fields interferring with the ComponentEditor controls. */
  margin-right: calc(var(--spacing-unit) * 10);
  /* 
  "&:empty": ;
    display: non;
  },
 */
}



.mediaContainer {
  max-width: 38rem;
  margin-bottom: calc(var(--spacing-unit) * 4);
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.image {
  grid-column: 1 / 12;
  grid-row: 1 / 1;
}

.imageAltContainer {
  grid-column: 1 / 12;
  grid-row: 1 / 3;
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: var(--spacing-unit);
  padding-top: var(--spacing-unit);
}

.imageCaption {
  margin-top: -20px;
  font-style: italic;
}

.list {
  margin-bottom: calc(var(--spacing-unit) * 3);
  padding-left: 18px;
}

.listItem {
  margin-bottom: var(--spacing-unit);
}
