/* previewChrome.st.css */
.root {
  -st-states:
    previewMode(enum("web", "mobile", "tablet", "laptop")),
    fullScreenMode;
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: hidden;
  align-items: center;
  flex-direction: column;
  max-height: 800px;
}

.chrome {
  transform: scale(0);
  margin-top: 0;
  transition: transform 160ms ease-in-out, margin-top 0ms ease-in-out;
  box-sizing: content-box;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
}

.iframe {
  border: none;
  width: 100%;
  height: 100%;
  display: block;
}
